.mainpg {
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 425px;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

/* label color */
 .input-field label {
   color: #ff6f00;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #ff6f00;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #ff6f00;
   box-shadow: 0 1px 0 0 #ff6f00;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #8bc34a;
   box-shadow: 0 1px 0 0 #8bc34a;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #f44336;
   box-shadow: 0 1px 0 0 #f44336;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #ff6f00;
 }

 [type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #ff6f00;
  border-bottom: 2px solid #ff6f00;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; 
}

[type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 2px solid #616161;
  background-color: #00838f;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02); 
}

[type="radio"].with-gap:checked + label:before {
  border-radius: 50%;
  border: 2px solid #ff6f00; 
}

[type="radio"].with-gap:checked + label:after {
  border-radius: 50%;
  border: 2px solid #ff6f00;
  background-color: #ff6f00;
  z-index: 0;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5); 
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

footer.page-footer {
  padding-top: 0px;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  font-size: 1.2rem;
  font-weight: 300;

}

label {
  color: #757575;
}